* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

header {
    padding: 16px 0;
    background-color: #657ec4;
    color: #ecf0f1;
}

body {
    background: url(./images/img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    display: block;
    align-items: center;
    justify-content: space-between;
    background: transparent ;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: "Poppins", sans-serif;
}

.form-container h1 {
    text-align: justify;
    color: #333;
}
form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 40px;
}
button {
    margin-top: 5px;
    width: 100%;
    padding: 10px 20px;
    background-color: #657ec4;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
button:hover {
    background-color: #35519e;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    color: #333;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f2f2f2;
}

footer {
    margin-top: 483px;
    background-color: #657ec4;
    color: #ecf0f1;
    padding: 16px 0;
    position: relative;
}